* {margin:0; padding: 0;}



    #wrapper {
        width: 80%;
        margin: auto;
    }    
    .columns {float:left;}
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
    .clear-left {
            clear:left;
        }


    /* .column {
        float: left;
        width: 33.33%;
        padding: 5px;
        } */

    /* .row::after {
        content: "";
        clear: both;
        display: table;
        }
         */

body{
   

    background-color: #fbfbfb;
    /* background-image: url("images/Hank.jpg"); */
    /* background-size: 50em; */
    /* background-blend-mode:luminosity; */
  
}

h1{
    text-transform: capitalize;
    /* text-align: center; */
    text-decoration-line: overline;
    /* margin: 5%; */
    font-family: "Space Mono", monospace;
    font-weight: 700;
    font-style: normal;
    font-size: 5em;
    color: #8486f2;
    z-index: auto;
    /* position:static */
}

h2{
    padding-top: 40px;
    text-align: right;
     /* text-align: center; */
}

h3{
    text-align: right;
    /* text-align: center; */
    
}

ul#mainNav {
    padding-top: 10px;
    text-align: right;
    list-style-type: none;
    display:block;
}

/* position: absolute;
  left: 0px;
  top: 0px;
  z-index: -1; */

img{

    /* margin-left: auto;
    margin-right: auto; */
    display: block;
    width: 50%;
    height: auto;
} 

.shred{
    position:absolute;
    left: 40px;
    top: 40px;
    z-index:-1;
    padding: 10px;
}

.hr1{
    padding-top:5px;

}

.hank{
    position: relative;
    width: 100%;
    height: auto;
    z-index:-1;
}

p{
   padding:0%;
    line-height: 1em;
    overflow: auto;
}

footer{
    padding-top: 20px;
}

a:link { color: #232ca7; }
a:visited { color: #ffa500; }
a:hover { color: #ffff00; }
a:active { color: #800080; }

@media screen and (max-device-width: 480px) {
    .column {
      float: none;
    }
  }

  #wrapper {
    width: 80%;
    margin: auto;
    }
    .column {
    width: 33.33%;
    float: left;
    margin: 10%;
    }
    @media only screen and (max-width: 480px) {
    .column {
    width: 100%;
    float: left;
    margin:0%;
}
}