* {margin:0; padding: 0;}



    #wrapper {
        width: 80%;
        margin: auto;
    }    
    .columns {float:left;}
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
    .clear-left {
            clear:left;
        }

body{
   

    background-color: rgb(49, 49, 49);
    /*background-image: url("https://www.reddit.com/media?url=https%3A%2F%2Fpreview.redd.it%2Fwhat-did-dean-norris-mean-by-this-v0-q1806giuoo5b1.jpg%3Fwidth%3D640%26crop%3Dsmart%26auto%3Dwebp%26s%3D7d9061c1e7a5a022a6f31ea84c9eab65843d63ad");
    background-repeat: none;*/
    background-image: url("images/Hank.jpg");
    background-size: 50em;
    background-blend-mode:luminosity;
  
}

h1{
    text-transform: capitalize;
    /* text-align: center; */
    text-decoration-line: overline;
    /* margin: 5%; */
    font-family: "Space Mono", monospace;
    font-weight: 700;
    font-style: normal;
    font-size: 5em;
    color: rgb(132, 134, 242);
    z-index: auto;
    /* position:static */
}

h2{
     /* text-align: center; */
}

h3{
    /* text-align: center; */
    
}

ul#mainNav {
    list-style-type: none;
    display:block;
}

img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: auto;
    /* padding: 1em; */
} 

p{
    line-height: 1em;
}

a:link { color: rgb(35, 44, 167); }
a:visited { color: orange; }
a:hover { color: yellow; }
a:active { color: purple; }

@media screen and (max-device-width: 480px) {
    .column {
      float: none;
    }
  }

  #wrapper {
    width: 80%;
    margin: auto;
    }
    .column {
    width: 33.33%;
    float: left;
    margin: 10%;
    }
    @media only screen and (max-width: 480px) {
    .column {
    width: 100%;
    float: left;
    margin:0%;
}
}